@inherits LayoutComponentBase

<div class="empty-layout">
    @Body
</div>

<!-- Barra de atajos de teclado en login -->
<div class="keyboard-shortcut-bar">
    <span class="shortcut-item"><kbd>TAB</kbd> Siguiente campo</span>
    <span class="shortcut-item"><kbd>ENTER</kbd> Iniciar sesión</span>
    <span class="shortcut-item"><kbd>ESC</kbd> Limpiar</span>
</div>


