<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1920, initial-scale=1.0, minimum-scale=0.5, maximum-scale=1.5, user-scalable=yes" />
    <base href="/" />
    <title>SGRRHH Local</title>
    
    <!-- Sistema de diseño hospitalario -->
    <link rel="stylesheet" href="css/hospital.css" />
    <link rel="stylesheet" href="css/notifications.css" />
    <link rel="stylesheet" href="SGRRHH.Local.Server.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="js/keyboard-handler.js"></script>
    <script src="js/empleado-form-keyboard.js"></script>
    <script src="js/hospital-modal.js"></script>
    <script src="js/image-viewer.js"></script>
    <script src="js/app.js"></script>
</body>

</html>

